.card {
  max-width: 40%;

  margin: 1em;

  padding: 1em;
  border-radius: 1em;
  color: #fff;
  text-shadow: (255 255 255 / 50%) 0px 0px 12px;
}
.card-header {
}

.card-body {
  margin: 10px;
  overflow: auto;
  max-height: 40vh;
  overflow-y: scroll;
}

.cart-footer {
}
.r-img {
  -webkit-box-reflect: below 1px
    linear-gradient(transparent, transparent, #0004);
  transform-origin: center;

  transform: perspective(800px) rotateY(20deg);
  transition: 0.5s;
}
.l-img {
  -webkit-box-reflect: below 1px
    linear-gradient(transparent, transparent, #0004);
  transform-origin: center;

  transform: perspective(800px) rotateY(-20deg);
  transition: 0.5s;
}
/* opacity: 0.1; */

.l-img:hover {
  transform: perspective(800px) rotateY(0deg);
}
.r-img :hover {
  transform: perspective(800px) rotateY(0deg);
}
